{
  "trailingComma": "es5",
  "tabWidth": 4,
  "printWidth": 120,
  "useTabs": true,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/layout/(.*)$",
    "^@/ui/(.*)$",
    "^@/providers/(.*)$",
    "^@/shared/(.*)$",
    "^@/assets/(.*)$",
    "^@/config/(.*)$",
    "^@/store/(.*)$",
    "^@/services/(.*)$",
    "^@/hooks/(.*)$",
    "^@/models/(.*)$",
    "^@/api/(.*)$",
    "^@/utils/(.*)$",
    "^@/constants/(.*)$",
    "^../(.*)$",
    "^./(.*)"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
