<!-- Modal edit-->
<div class="form-froup row">
  <!-- Department name field-->
  <label class="col-sm-2 col-form-label">Department Name</label>
  <div class="col-sm-10">
    <label>
      <input type="text" class="form-control" [(ngModel)]="departmentName" placeholder="Enter Department Name">
    </label>
  </div>
</div>
<button class="btn btn-primary" (click)="addDepartment()" *ngIf="dep.DepartmentId==0">Add</button>
<button class="btn btn-primary" (click)="updateDepartment()" *ngIf="dep.DepartmentId!=0">Update</button>
