h5{
  font-weight: bold;
}

.btn-float {
  margin: 1rem;
  float: right;
}

img {
  height: 40px;
  width: 40px;
}

.modal-body{
  width: 100%;
}

.btn-green {
  background: darkseagreen;
}

.btn-red {
  background: indianred;
}
