<table class="table table-striped">
  <thead>
  <tr>
    <th>EmployeeId</th>
    <th>EmployeeName</th>
    <th>Department</th>
    <th>DateOfJoining</th>
    <th>Options</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dataItem of employeeList">
    <td>{{dataItem["EmployeeId"]}}</td>
    <td>{{dataItem["EmployeeName"]}}</td>
    <td>{{dataItem["Department"]}}</td>
    <td>{{dataItem["DateOfJoining"]}}</td>
    <td>
    <td>
      <button type="button" class="btn btn-light mr-1">Edit</button>
      <button type="button" class="btn btn-light mr-1">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
