<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-float" data-bs-toggle="modal"
        data-bs-target="#exampleModal" (click)="addClick()">
  Add Employee
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close" (click)="closeClick()"></button>
      </div>
      <div class="modal-body">
        <app-emp-modal [emp]="emp" *ngIf="activateAddEditEmpComp"></app-emp-modal>
      </div>
    </div>
  </div>
</div>

<!-- Table -->
<table class="table table-striped">
  <thead>
  <tr>
    <th>EmployeeId</th>
    <th>EmployeeName</th>
    <th>Department</th>
    <th>DateOfJoining</th>
    <th>Options</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dataItem of employeeList">
    <td>{{dataItem["EmployeeId"]}}</td>
    <td>{{dataItem["EmployeeName"]}}</td>
    <td>{{dataItem["Department"]}}</td>
    <td>{{dataItem["DateOfJoining"]}}</td>
    <td>
    <td>
      <button type="button" class="btn btn-light mr-1">Edit</button>
      <button type="button" class="btn btn-light mr-1">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
