.card {

  &__body {
    display: block;
    padding: 1.1rem 1.4rem;
  }

  &__tabs {
    display: flex;
    padding: initial;
  }

  &__tab {
    width: 50%;
    cursor: pointer;
  }

  &__link {
    text-transform: uppercase;
    display: flex;
    border: 0;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    border-radius: 0;
    color: #fff;
    background: #143250;
    justify-content: center;
    text-decoration: none;

    &--active {
      background: #007bff;
    }
  }
}
