<section class="nav-tabs">
  <div class="container">
    <div class="card shadows">
      <div class="card-body shadows">
        <ul class="nav nav-tabs nav-fill">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" routerLink='/login'>Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" routerLink='/registration'>Registration</a>
          </li>
        </ul>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
