<div class="card">
  <div class="card__body shadows__light">
    <ul class="card__tabs">
      <!-- Login link tab -->
      <li class="card__tab shadows__middle">
        <a class="card__link" routerLinkActive="card__link--active" [routerLink]="['/auth/login']">
          Login
        </a>
      </li>
      <!-- Registration link tab -->
      <li class="card__tab shadows__middle">
        <a class="card__link" routerLinkActive="card__link--active" [routerLink]="['/auth/registration']"
           [routerLinkActiveOptions]="{exact:true}">
          Registration
        </a>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>
