/*.tab-content {*/
/*  padding: 0 1.25rem 1.75em*/
/*}*/

.nav-link {
  border: 0;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  border-radius: 0;
  color: #fff;
  background: #143250
}

.nav-tabs .nav-link {
  border: 0;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  border-radius: 0;
  color: #fff;
  background: #143250;
}

.nav-tabs .nav-link.active {
  background: #007bff
}
