*,
*::before,
*::after {
  box-sizing: content-box;
}

.col-form-label {
  width: auto;
}

.form-control {
  margin-bottom: 1.5rem;
}

.form-froup {
  width: 60%;
}

img {
  height: 280px;
  width: 260px;
}

.but {
  display: block;
  width: 128px;
  height: 30px;
  padding: initial;
  margin-top: 10px;
}

.input {
  margin-top: 30px;
}

.container {
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
}

.form-froup[_ngcontent-ssx-c46] {
  width: 70%;
}

.row {
  display: block;
}
