.form-froup {
  width: 60%;
}

.row {
  display: block;
  margin-left: 0;
}

.col-sm-10 {
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 5rem;
  width: 100%;
}

.col-form-label {
  width: auto;
}

label{
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 0 0 4px;
}

.container-btn {
  text-align: end;
}

.photo {
  height: 280px;
  width: 270px;
}

.input {
  margin-top: 5%;
  width: 100%;
}

.form-control {
  margin-bottom: 1.5rem;
}

.btn {
  text-transform: uppercase;
}
