<!-- Modal edit-->
<div class="d-flex flex-row bd-highlight mb-3">
  <div class="form-froup row">
    <!-- Employee name field-->
    <label class="col-sm-2 col-form-label">Employee Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="employeeName" placeholder="Enter Employee Name">
    </div>
    <!-- Select department name-->
    <label class="col-sm-2 col-form-label">Department</label>
    <div class="col-sm-10">
      <select class="form-control" [(ngModel)]="department">
        <option>--Select--</option>
        <option *ngFor="let depName of departmentList">{{depName["DepartmentName"]}}</option>
      </select>
    </div>
    <!-- Select date-->
    <label class="col-sm-2 col-form-label">Date</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" [(ngModel)]="dateOfJoining">
    </div>
  </div>
</div>

<!-- Select photo-->
<div class="ml-3 bd-highlight">
  <div class="container">
    <img [src]="photoFilePath">
    <input type="file" class="input" id="file" multiple="multiple" (change)="onFileSelected($event)">
    <button type="button" class="btn btn-primary but"
            (click)="uploadPhoto()" *ngIf="emp.EmployeeId==0">Upload
    </button>
    <button type="button" class="btn btn-primary but update"
            (click)="updatePhoto(employeeId)" *ngIf="emp.EmployeeId!=0">Update
    </button>
  </div>
</div>
