<!-- Tab form section -->
<form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit(UserName.value, Password.value)">
  <div class="container">
    <!-- Tab form header -->
    <h4 class="form__title">Login</h4>
    <!-- Username input field -->
    <div class="form__item">
      <label class="form__label">
        <input class="form-control" type="text" placeholder="&nbsp;"
               #UserName ngModel name="UserName" required>
        <span>Enter your username</span>
      </label>
    </div>
    <!-- Password input field -->
    <div class="form__item">
      <label class="form__label">
        <input class="form-control" type="password" placeholder="&nbsp;"
               #Password ngModel name="Password" required>
        <span>Enter your password</span>
      </label>
    </div>
    <!-- Password remember -->
    <div class="form-check form__item">
      <input class="form-check-input" type="checkbox">
      <label class="form-check-label">Remember Password</label>
    </div>
    <!-- Login button -->
    <div class="form__item">
      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">
        Login
      </button>
    </div>
  </div>
</form>

<!-- Tab social area section -->
<section class="social-area">
  <div class="container">
    <h3 class="social-area__title">Or</h3>
    <p class="social-area__text">Sign In with social media</p>
    <ul class="social-area__links">
      <li>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
      </li>
    </ul>
    <!-- Forgot password -->
    <a href="#" target="_blank">Forgot Password?</a>
  </div>
</section>
