<!-- Tab form section -->
<form class="form" [formGroup]="loginForm" novalidate (submit)="onSubmit(loginForm)">
  <div class="container">
    <!-- Tab form header -->
    <h4 class="form__title">Login</h4>
    <!-- Username input field -->
    <div class="form__wrapper">
      <div class="form-field form-field__item">
        <input class="form-field__input" id="username" type="text" placeholder=" "
               formControlName="userName" minlength="7" maxlength="16" required/>
        <label class="form-field__label" for="username">UserName</label>
      </div>
      <!-- Username input field validation-->
      <div class="form-hint" *ngIf="username.invalid">
        <span class="form-hint__item" *ngIf="username.errors.required">
          * Please enter your username
        </span>
        <span class="form-hint__item" *ngIf="username.errors.minlength">
          * Username must be minimum 6 characters
        </span>
        <span class="form-hint__item" *ngIf="username.errors?.pattern">
          * Username is not valid
        </span>
        <span class="form-hint__item" *ngIf="username.errors.shouldBeUnique">
          * Username is already taken
        </span>
      </div>
    </div>
    <!-- Password input field -->
    <div class="form__wrapper">
      <div class="form-field form-field__item">
        <input class="form-field__input" id="password" type="password" placeholder=" "
               formControlName="password" minlength="12" maxlength="25" required/>
        <label class="form-field__label" for="password">Password</label>
      </div>
      <!-- Password input field validation-->
      <div class="form-hint" *ngIf="password.invalid">
        <span class="form-hint__item" *ngIf="password.errors.required">
          * Please enter your password
        </span>
        <span class="form-hint__item" *ngIf="password.errors?.pattern">
          * Min 8 chars, one number, letter and special character
        </span>
      </div>
    </div>
    <!-- Password remember -->
      <div class="form-field">
        <label class="form-field__label_check">
          <input class="form-field__input" type="checkbox">
        </label>
        <label class="form-field__label_check">
          Remember Password
        </label>
      </div>
    <!-- Login button -->
    <div class="form-button">
      <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">
        Login
      </button>
    </div>
  </div>
</form>

<!-- Tab social area section -->
<section class="social-area">
  <div class="container">
    <h3 class="social-area__title">Or</h3>
    <p class="social-area__text">Sign In with social media</p>
    <ul class="social-area__links">
      <li>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
      </li>
    </ul>
    <!-- Forgot password -->
    <a href="#" [routerLink]="['/auth/forgot-password']">Forgot Password?</a>
  </div>
</section>
