<div class="card">
  <div class="card__body shadows__light">
    <!-- Card form section -->
    <form [formGroup]="emailForm" novalidate (submit)="forgotPassword(emailForm)">
      <!-- Email input field -->
      <div class="container">
        <!-- Tab form header -->
        <h4 class="form__title">Forgot Password</h4>
        <div class="form__wrapper">
          <div class="form-field form-field__item">
            <input class="form-field__input" id="email" type="email" placeholder=" "
                   formControlName="email" maxlength="25" required/>
            <label class="form-field__label" for="email">Email</label>
          </div>
          <!-- Username input field validation-->
          <div class="form-hint" *ngIf="email.invalid">
        <span class="form-hint__item" *ngIf="email.errors.required">
          * Please enter your email
        </span>
            <span class="form-hint__item" *ngIf="email.errors?.pattern">
          * Email is not valid
        </span>
            <span class="form-hint__item" *ngIf="email.errors.email">
          * Email format
        </span>
          </div>
        </div>
        <br>
        <div class="form__button">
          <!-- Form submit button -->
          <button class="btn btn-primary" type="submit" [disabled]="emailForm.invalid">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

