<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-float" data-bs-toggle="modal"
        data-bs-target="#exampleModal" (click)="addClick()">
  Add Department
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close" (click)="closeClick()"></button>
      </div>
      <div class="modal-body">
        <app-modal-dep [dep]="dep" *ngIf="activateAddEditDepComp"></app-modal-dep>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>DepartmentId</th>
    <th>Department Name</th>
    <th>Options</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dataItem of departmentList">
    <td>{{dataItem["DepartmentId"]}}</td>
    <td>{{dataItem["DepartmentName"]}}</td>
    <td>
      <button type="button" class="btn btn-light mr-1">Edit</button>
      <button type="button" class="btn btn-light mr-1">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
