h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4.642em;
}

h2 {
  font-size: 2.285em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1em;
}

p {
  font-size: 1em;
}

a {
  display: inherit;
  text-decoration: underline;
}

ul, li {
  display: block;
  margin-right: 0;
  padding: 0;
}

li:hover {
  -webkit-box-shadow: -11px 9px 35px -11px rgba(42, 71, 94, 0.58);
  -moz-box-shadow: -11px 9px 35px -11px rgba(42, 71, 94, 0.58);
  box-shadow: -11px 9px 35px -11px rgba(42, 71, 94, 0.58);
}

.shadows {
  -webkit-box-shadow: 3px 5px 48px -4px rgba(42, 71, 94, 0.21);
  -moz-box-shadow: 3px 5px 48px -4px rgba(42, 71, 94, 0.21);
  box-shadow: 3px 5px 48px -4px rgba(42, 71, 94, 0.21);
  border: 1px solid #dee2e6;
}

input[type="text"], input[type="password"], .btn {
  border-radius: 2px;
}

.btn {
  margin-top: 1em;
}

.btn-danger, .btn-danger:hover {
  background-color: #333399 !important;
  border-color: #333399 !important;
}

.btn-primary, .btn-primary:hover {
  background-color: #3366CC !important;
  border-color: #3366CC !important;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.form {
  margin: 1rem 0;
}

.form__title {
  text-transform: uppercase;
  line-height: 1.1;
  margin: 2px 0;
  font-weight: 600;
}

.form__item, .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 3%;
}

.form__label {
  position: relative;
  width: 100%;
  margin: 16px 0 0 0;
}

.form__label span {
  position: absolute;
  bottom: 2px;
  left: 5px;
  opacity: .5;
  visibility: hidden;
  transition: .4s;
}

.form__label input:placeholder-shown ~ span {
  visibility: visible;
}

.form__label input:placeholder-shown:focus ~ span,
.form__label input:not(:placeholder-shown) ~ span {
  bottom: 100%;
  opacity: 1;
  font-size: 80%;
  visibility: visible;
  color: #0650ca;
}
