<div class="card">
  <div class="card__body shadows__light">
    <!-- Tab form section -->
    <form class="form" [formGroup]="passwordForm" novalidate (submit)="changePassword(passwordForm)">
      <div class="container">
        <!-- Tab form header -->
        <h4 class="form__title">Change password</h4>
        <!-- Password input field -->
        <div class="form__wrapper">
          <div class="form-field form-field__item">
            <input class="form-field__input" id="password" type="password" placeholder=" "
                   formControlName="password" minlength="12" maxlength="25" required/>
            <label class="form-field__label" for="password">Password</label>
          </div>
          <!-- Password input field validation-->
          <div class="form-hint" *ngIf="password.invalid">
        <span class="form-hint__item" *ngIf="password.errors.required">
          * Please enter your new password
        </span>
            <span class="form-hint__item" *ngIf="password.errors?.pattern">
          * Min 8 chars, one number, letter and special character
        </span>
          </div>
        </div>
        <!-- Password confirm input field -->
        <div class="form__wrapper">
          <div class="form-field form-field__item">
            <input class="form-field__input" id="confirm" type="password" placeholder=" "
                   formControlName="confirmPassword" minlength="12" maxlength="25" required/>
            <label class="form-field__label" for="confirm">Repeat password</label>
          </div>
          <!-- Password confirm input validation -->
          <div class="form-hint" *ngIf="confirmPassword.invalid">
        <span class="form-hint__item" *ngIf="confirmPassword.errors.required">
          * Please enter your new password to confirm
        </span>
            <span class="form-hint__item" *ngIf="confirmPassword.errors?.matching">
          * Password confirm does not match
        </span>
          </div>
        </div>
        <div class="form__button">
          <!-- Form registration button -->
          <button class="btn btn-primary" type="submit" [disabled]="passwordForm.invalid">
            Registration
          </button>
          <!-- Form reset button -->
          <button class="btn btn-primary" (click)="onCancel()">
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
